code
{
	background-color: #111;
	color: #fff;
}

.parallax-container 
{
   width: 100%;
   height: 99vh;
}
        
.logo
{
	width: 100%;
}

.relation
{
	font-weight: bold;
}

.custborder
{
	border-top: 1px;
	border-color: red;
}

.custom-p
{
	font-family: 'Rancho', cursive;
	font-size: 2em;
}

.custom-p:first-letter {
font-size: 3.5em;
line-height: 1em;
}
.footerbg
{
	background-color: #111;
}

